<h1>Pages#ajaxtest</h1>
<p>Find me in app/views/pages/ajaxtest.html.erb</p>
<form id="ajax_form">
  <input type="text" id="ajax_input">
  <input type="submit" id="ajax_input">
</form>
<div id="content">
</div>
<hr>
<iframe id="frame"></iframe>

